@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
#navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(126, 126, 245);
}
body{
    margin: 0px;
    font-family: "Bona Nova SC", serif;

}
.buttons{
  text-align: center;
 padding-top: 15px;
}
button,a{
    margin-left: 83px;
   color: blue;
}
a{
    margin: 0;
    text-decoration: none;
}
h1,h3{
    display: inline-block;
    margin-left: 20%;
}
main a{
    display: block;
    text-align: center;
}
li{
    font-size: 1.3em;
}
main p{
    text-shadow: 20px 12px 2px blue;;
}
#video{
   margin-left: 35%;
 height: 300px;
   width: 450px;
}
.formulaire{
    text-align: center;
}
input,select{
height: 25px;
    width:250px;
    margin-top: 10px;
    
}
.btn_form{
    margin-top: 15px;
    font-size: 20px;
    padding: 1%  3%;
    border-radius: 13%;
    background-color: blue;
  color: white;
}

.btn_form:hover{
  background-color: rgb(28, 168, 215);
  border-radius: 13% 13% 30% 13%;
}
footer{
    background-color: black;
    color: aliceblue;
    margin-top: 2%;
    text-align: center;
}


footer p,i{
   display: inline-block;
   margin-left: 5%;
}